* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  width: 90%;
}

#title {
  font-size: 2em;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#formContainer {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

#input {
  display: inline-block;
  margin: 1%;
  border-radius: 3px;
}

#buttonWrap {
  display: inline-block;
  margin: 1%;
}

#submit {
  background-color: grey;
  border: 1px solid black;
  border-radius: 3px;
}

.wrapper {
  width: 70%;
  height: 800px;
  display: inline-block;
  background-color: grey;
  margin: 5px;
}

#decklist {
  background-color: grey;
  float: right;
  height: 400px;
  width: 25%;
  display: inline-block;
  margin: 5px;
}

#resultsContainer {
  background-color: grey;
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.Item {
  border: 1px solid black;
  width: 200px;
  height: 280px;
  background-color: grey;
  margin: 0 auto;
  display: inline-block;
}

#gridItem0 {
  grid-column-start: 1;
  grid-column-end: 2;
}

#gridItem1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.resultImage {
  max-width: 100%;
}

.SresultI {
  position: relative;
  z-index: 999;
  height: 28%;
  width: 96%;
  top: -35%;
  border-radius: 5px;
  margin: 0 auto;
}

.info {
  font-weight: bold;
  height: 100%;
  width: inherit;
  border-radius: 5px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  margin: 0 auto;
}

.add {
  text-align: center;
  width: 20px;
  height: 20px;
}

.add:hover {
  cursor: pointer;
}
